@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/LayoutMaster/UserLayout.cshtml";
}

<!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
@*                                                                 @foreach (var item in Model)
                {
                    <tr>
                        <td width="12%">@item.iMaSach</td>
                        <td width="26%">@item.sTenSach</td>
                        <td width="22%"><img src="/HinhAnhSP/@item.sAnhBia" width="50%" /></td>
        
                        <td width="12%">@item.iSoLuong</td>
                        <td width="12%">@String.Format("{0:0,0}", item.dDonGia)</td>
                        <td width="16%">@String.Format("{0:0,0}", item.dThanhTien)</td>
                        <td><a href="@Url.Action("XemChiTiet", "Sach", new {@ms = item.iMaSach })">Details</a></td>
                        <td>@Html.ActionLink("Delete", "XoaGioHang", new {@MaSP = item.iMaSach })</td>
                    </tr>
                }*@
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col"></th>
                                <th scope="col">@Html.ActionLink("DELETE ALL", "XoaGioHang_All","GioHang")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/Template/img/cart.jpg" alt=""> @*src=".img/@item.sHinhAnh"*@
                                        </div>
                                        <div class="media-body">
                                            <p>@item.sTenSP</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@String.Format("{0:0,0}", item.dGiaBan)</h5>
                                </td>
                                @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaSP = item.iMaSP }))
                                {
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="@item.iSoLuong" title="Quantity:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>                                    
                                    </div>                                 
                                </td>
                                <td>
                                    <h5>@String.Format("{0:0,0}", item.dThanhTien)</h5>
                                </td>
                                 <td><input type="submit" value="Update" class="btn btn-primary"/></td>
                                <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP=item.iMaSP})</td>
                                }
                            </tr>
                            }          
                            <tr class="bottom_button">
                                <td>
                                    <a class="gray_btn" href="@Url.Action("Index","Home")">Mua thêm</a>
                                </td>
                                <td>
                                    
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    Tổng số lượng
                                </td>
                                <td>
                                     @ViewBag.TongSoLuong
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Thành tiền</h5>
                                </td>
                                <td>
                                    <h5>@String.Format("{0:0,0}",ViewBag.TongThanhTien) VND</h5>
                                </td>
                            </tr>
                            <tr class="shipping_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="shipping_box">
                                        <ul class="list">
                                            <li><a href="#">Tiền Giao hàng: $10.00</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>

                                <td>
                                   <div class="checkout_btn_inner d-flex align-items-center">
                                        <a  class="primary-btn" href="@Url.Action("DatHang", "GioHang")">Đặt hàng</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
